# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
#language: ruby

# list any ruby version you want to test against
#rvm:
#  - 2.7.2

# execute any number of scripts before the test run, custom env's are available as variables
#before_script:
#  - gem install rake
   #- puts 'Before Script'
#  - if [[ "$DB" == "pgsql" ]]; then psql -c "DROP DATABASE IF EXISTS hello_world_test;" -U postgres; fi
#  - if [[ "$DB" == "pgsql" ]]; then psql -c "create database hello_world_test;" -U postgres; fi
#  - if [[ "$DB" == "mysql" ]]; then mysql -e "create database IF NOT EXISTS hello_world_test;" -uroot; fi

# omitting "script:" will default to phpunit
# use the $DB env variable to determine the phpunit.xml to use

#script: 
 # - <%= prints "Script" %>

#services:
 # - postgresql

# configure notifications (email, IRC, campfire etc)
#notifications:
 # email: ""


language: ruby
cache:
  - bundler
  - yarn
services:
  - postgresql
before_install:
  - nvm install --lts
before_script:
  - bundle install --jobs=3 --retry=3
  - yarn
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - bundle exec rake db:schema:load
script:
  - bundle exec rake test
  #- bundle exec rake test:system